@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Patua+One);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

/* ----- TYPOGRAPHY ----- */

body {
	font-family: 'Raleway', sans-serif;
	color: #13628e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Patua One', cursive;
}

h1 { 
	font-size: 3em;
	color: #4EBF7A; 
}

h2 
{ 
	font-size: 2em; 
	color: #4EBF7A; 
}

h3 { 
	font-size: 1.5em; 
	color: #4ebf7a;
}

.light-text {
	color: white;	
}

.footer-identity-name {
	font-family:	 'Patua One', cursive;
	font-size: 2.5em;
}

.footer-identity-description {
	font-size: .85em;	
}

/* ----- SECTIONING ----- */

.blue-background::before {
	content:url(../images/background-lightblue-top.svg);
	display:block;
	background-color:white;
	z-index:2;
	margin-top: 15px;
}

.blue-background {
	background-color: #c4e8f5;
}

.blue-background::after {
	content:url(../images/background-lightblue-bottom.svg);
	display:block;
	background-color:white;
	z-index:2;
}

.shovel-buttons {
	margin-top: 20px;	
}

footer {
	background-color: #13628e;
	color: #C3E9F6;
}

footer::before {
	content:url(../images/background-footer.svg);
	display:block;
	background-color:white;
	z-index:2;
}

.hero-image {
	position: relative;
	width: 100%;	
	margin-bottom: 10px;
}

.text-over-image {
	position: absolute;
	top: 200px; 
   	left: 0; 
   	width: 100%;	
}

.area-of-help {
	margin-top: 30px;	
}
/* ----- BUTTON STYLING ----- */
.button {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
  	border: 3px solid #00a9db;
	text-align: center;
  	padding: 10px 30px;
}

a.button {
  text-decoration: none;
  color: #00a9db;
  text-transform: uppercase;
}

a.button:hover{
  transition: background-color .3s ease-in-out;
  background-color: #00a9db;
  border: 3px solid #00a9db;
  color: white;
}

/* ----- NAV STYLING ----- */
nav > li.active > a{
  color: #fff;
  background-color: #13628e;
  padding: 15px;
  border-bottom: solid 2px #4EBF7A;
}

nav li a {
	color: #13628e;
  	padding: 15px;
  	text-decoration: none;
	text-transform: uppercase;
}

nav li a:hover {
	background-color: #c4e8f5;
  	padding: 15px;
  	border-bottom: solid 2px #4EBF7A;
}

nav {
	padding: 10px;
}

.nav-logo {
	max-height: 40px;	
}

.sign-in {
	margin-bottom: 10px;	
}

/* ----- FORM STYLING ----- */
.form-item input, .form-item textarea {
  	border-bottom: 1px solid #13628e;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	width: 100%;	
	padding-top: 10px;
}

/* ----- LINK STYLING ----- */
a {
	color: #c3e9f6;	
}

a:hover {
	color: #009adb;	
}

.blue-background p a {
	color: #4ebf7a;	
}

.blue-background p a:hover {
	color: #00a9db;
}

/* ----- STYLE GUIDE ----- */
.guide-module,
.guide-example,
.class-name {
	border: solid 1px #13628e;	
}

.guide-module {
	padding: 10px;
	margin-bottom: 15px;	
}

.guide-example {
	min-height: 30px;
}

.light-blue {
	background: #c4e8f5;
}

.mid-blue {
	background: #00a9db;	
}

.dark-blue {
	background: #13628e;	
}

.green-accent {
	background: #4ebf7a;	
}

code {
	color: #13628e;
	background: #c4e8f5;
}

/* ----- MOBILE STYLING ----- */
@media (max-width: 992px) {
	.text-over-image {
		position: absolute;
		top: 200px; 
   		left: 0; 
   		width: 100%;	
	}
	
	footer {
		text-align: center;	
	}
	
	header {
		background-color: #c4e8f5 ;
	}

	li > a {
		color: #13628e;
  		padding: 15px;
  		text-decoration: none;
	}

	li > a:hover {
		background-color: #13628e;
		background-size: 100%;
		color: #c4e8f5;
  		padding: 15px;
		border-bottom: none;
	}
	
	.text-over-image {
		position: inherit;
	}
	
	.light-text {
		color: #13628e;	
	}
}