@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Patua+One);

/* ----- TYPOGRAPHY ----- */

body {
	font-family: 'Raleway', sans-serif;
	color: #3A82B4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Patua One', cursive;
	color: #FE9900;
}

/* ----- BUTTON STYLING ----- */
.button {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background-color: #C3E9F6;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

/* ----- FOOTER STYLING -----*/
footer {
	padding: 20px 0px 20px 0px;
	background-color: #3A82B4;
	color: #C3E9F6;
}