@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Patua+One);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

/* ----- TYPOGRAPHY ----- */

body {
	font-family: 'Raleway', sans-serif;
	color: #3A82B4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Patua One', cursive;
	color: #22BACD;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }

/* ----- SECTIONING ----- */
section {
	padding: 75px 0px;	
}

/* ----- BUTTON STYLING ----- */
.button {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
  	border: 2px solid #3A82B4;
	text-align: center;
  	padding: 10px 30px;
}

a.button {
  text-decoration: none;
  color: #3A82B4;
  text-transform: uppercase;
}

a.button:hover{
  transition: background-color .3s ease-in-out;
  background-color: #00a9db;
  border: 2px solid #00a9db;
  color: #FFFFFF;
}

/* ----- NAV STYLING ----- */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #00a9db;
}

/* ----- FOOTER STYLING -----*/
footer {
	padding: 20px 0px 20px 0px;
	background-color: #3A82B4;
	color: #C3E9F6;
}

.hero-image,
.section-element {
	position: relative;
	width: 100%;	
}

.text-over-image {
	position: absolute;
	top: 200px; 
   	left: 0; 
   	width: 100%;	
}

/* ----- FLEX BOX FOR EQUAL HEIGHT DIVS AT LARGE SCREEN SIZES ----- */
.equal-row {
	display: table;	
}

.equal-item {
	display: table-cell;	
}

/* ----- FORM STYLING ----- */
.form-item input, .form-item textarea {
  	border-bottom: 1px solid #3A82B4;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	width: 100%;	
	padding-top: 10px;
}

/* ----- MOBILE STYLING ----- */
@media (max-width: 400px) {
	
	/* ----- TOGGLE MENU ------ */
    nav > label, nav ul li ul {
        display: block;
    }
    nav > ul {
        display: none;
        clear: both;
    }
    nav > input:checked + ul { /* <================ This is the key */
        display: block;
    }
    nav ul ul li a:before {
        content:'↪ ';
        display: inline;
    }
    nav ul li {
        float: none;
        display: block;
        border-right: none;
        padding-left: 10px;
    }
    nav li:hover ul {
        position: relative;
        width: auto;
    }
    nav ul ul li:hover > ul {
        right:auto;
        top: auto;
        left: auto;
    }
}